body {
    background-color: #f0f2f4;
}

h1 > small {
    font-size: 50%;
}

hr {
    border-top: solid 1px #ccc;
}

footer {
    padding: 15px 0px;
    text-align: center;
}

textarea {
    min-height: 50px !important;
    height: 100px !important;
}

a:hover {
    text-decoration: none;
}

form.form-styled {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    border: solid 1px #ddd;
    margin: 0px auto;
    max-width: 768px;
}

form.form-styled .form-group > input {
    max-width: 334px;
}

#like-title {
    margin: 0px auto 10px;
}

#like-btn {
    padding: 5px;
    background-color: #fff;
    border-radius: 999px;
    border: solid 1px #337ab7;
}

#like-btn:hover {
    cursor: pointer;
    background-color: #ddd;
}

.navbar.navbar-default {
    background-color: #0061b6;
    border-color: transparent;
    box-shadow: 0px 1px 5px 3px #aaa;
}

.nav.navbar-nav.navbar-right {
    margin-right: -30px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-toggle,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

@keyframes navbar-hover {
    to {
        color: #ccc;
        box-shadow: 0px 3px 5px 0px #4a4a4a;
        border-radius: 3px;
    }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-nav > li > a:hover {
    animation-name: navbar-hover;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.alert {
    border-color: #ccc;
}

.post-recent {
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.post-recent-title {
}

.post-recent-subject,
.post-author {
    color: #888;
}

.post-recent-details {
}

.post-recent-content {
    text-decoration: none;
    color: #000
}

.post-recent-content:hover {
    text-decoration: none;
    color: #000;
}

.post-details,
.comment {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: solid 1px #ddd;
}

.post-content {
    white-space: pre-line;
}

.comment {
    margin-top: 10px;
    max-width: 768px;
    margin-left: 0px;
}

.form-styled.form-comment {
    margin-left: 0px;
}

.post-btn {
    color: #4a4a4a;
}

.post-btn:hover {
    color: #000;
    text-decoration: none;
}

.label {
    display: inline-block;
    margin-top: 5px;
    font-size: .9em;
    font-weight: normal;
}

.error {
    border: #d9534f;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217, 83, 79, 0.6)
}

.container-pager {
    text-align: center;
}

.btn-info {
    background-color: #0061b6;
    border-color: #004589;
}

.btn-info:hover {
    background-color: #004589;
    border-color: #003366;
}

.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
    background-color: #007cd2;
    border-color: #003366;
}

.btn-inactive {
    background-color: #ddd;
}

.btn-inactive:hover,
.btn-inactive:focus,
.btn-inactive:active,
.btn-inactive:hover:active {
    cursor: default;
    background-color: #ddd;
    border: solid 1px #ccc;
    box-shadow: none;
    outline: none;
}