{% macro render_field(field, label_class, field_class) %}
    <div class="form-group">
        {{ field.label(class=label_class) }}
        {% if field.errors %}
            {{ field( **{'class': field_class + ' error', 'data-placeholder': field.description} ) }}
            {% for error in field.errors %}
            <span class="label label-danger">{{ error }}</span>
            {% endfor %}
        {%  else %}
            {{ field( **{'class': field_class, 'data-placeholder': field.description} ) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_form(form, label_class, field_class) %}
    {{ form.csrf_token }}
    {% for field in form %}
        {% if field.type != 'CSRFTokenField' %}
            {{ render_field(field, label_class, field_class) }}
        {% endif %}
    {% endfor %}
{% endmacro %}